---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">{{ post.title }}</a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content | truncate: 400 }}
    <br />
    <span style="float: right">
        <a href="{{ post.url }}">Read more</a>
    </span>
    <span style="float: left">
        <a href="{{ post.url }}#disqus_thread">Comments</a>
    </span>
 </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a href="/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span>Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    &nbsp;&nbsp;
    {% if paginator.page == 2 %}
      <a href="/">Newer</a>
    {% else %}
      <a href="/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    &nbsp;&nbsp;
    <span>Newer</span>
  {% endif %}
</div>

